{% extends 'base.html' %}

{% block content %}
    {% if events %}
        <ul>
            {% for event in events %}
                <li>{{ event.name }}<br>{{ event.date }} | {{ event.venue }} | Open gate: {{ event.open_gate }}<br>Category: <a href="{% url 'type' event_type=event.type|lower %}">{{ event.type }}</a> // <a href="https://twitter.com/intent/tweet?text=Please see my {{ event.name|urlencode }} here: {{ url }}{% url 'event-detail' event_id=event.id %}">Tweet this</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Create your first event.</p>
    {% endif %}
{% endblock %}